server {
	listen 80;
    
	server_name {{ ubuntu_server_domain }};

	location /static {
		proxy_pass http://{{ ubuntu_static_server_ip }}:{{ ubuntu_static_server_port }};
	}

	location / {
		proxy_pass http://atruck_backend;
	}
}
