upstream atruck_backend {
    least_conn; 
    server {{ ubuntu_first_app_server_ip }}:{{ ubuntu_first_app_server_port }};  
    server {{ ubuntu_second_app_server_ip }}:{{ ubuntu_second_app_server_port }};  
 }
